<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	二级目录
 -->
<mapper namespace="CategorySecondNameSpace">

	<resultMap type="categorysecond.daomain.CategorySecond" id="CategorySecondMap" >
		<id property="csid" column="csid"/>
		<result property="csname" column="csname"/>
		<!-- 配置一级目录对二级目录中的以及目录(一对多的多的一方) -->
		<association property="category" 
				resultMap="CategoryNameSpace.categoryMap"/>
	</resultMap>
	 
	 <!-- 统计二级分类个数的方法 -->
	 <select id="findCount" resultType="int">
	 	select count(*) from CategorySecond
	 </select>
	 
	 <!-- 分页查询的方法 -->
	<select id="findByPage" parameterType="map" resultMap="CategorySecondMap">
		select csid,csname from CategorySecond limit #{begin},#{limit}
	</select>
	
	<!-- 保存二级分类的方法 -->
	<insert id="save" parameterType="categorysecond.daomain.CategorySecond">
		insert into CategorySecond(csid,csname,cid) 
			values(#{csid},#{csname},#{category.cid})
	</insert>
	
	<!-- 删除二级分类的方法 -->
	<delete id="delete" parameterType="categorysecond.daomain.CategorySecond">
		delete from CategorySecond where csid=#{csid}
	</delete>
	
	<!--根据id查询二级分类的方法 -->
	<select id="findByCsid" parameterType="int" resultMap="CategorySecondMap">
		select csid,csname from CategorySecond where csid=#{csid}
	</select>
	
	<!-- 修改二级分类的方法 -->
	<update id="update" parameterType="categorysecond.daomain.CategorySecond">
		update CategorySecond set csname=#{csname} where csid=#{csid}
	</update>
	
	<!-- 查询所有二级分类的方法 -->
	<select id="findAll" resultMap="CategorySecondMap">
		select csid,csname from CategorySecond
	</select>
	
	 
</mapper>