<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	购物车
 -->
<mapper namespace="UserNameSpace">

	<resultMap type="user.daomain.User" id="userMap" >
		<id property="uid" column="uid"/>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<result property="name" column="name"/>
		<result property="email" column="email"/>
		<result property="phone" column="phone"/>
		<result property="addr" column="addr"/>
		<result property="state" column="state"/>
		<result property="code" column="code"/>
	</resultMap>
	
	<!-- 按名字查询是否有该用户 -->
	<select id="findByUsername" parameterType="string" resultMap="userMap">
		select uid
		from user u
		where u.username=#{username}
	</select>
	
	<!-- 注册用户存入数据库代码实现 -->
	<insert id="save" parameterType="user.daomain.User">
		insert into user(uid,username,password,name,email,phone,addr,state,code) 
		values(#{uid},#{username},#{password},#{name},#{email},#{phone},
			#{addr},#{state},#{code})
	</insert>
	
	<!-- 根据激活码查询用户 -->
	<select id="findByCode" parameterType="string" resultMap="userMap">
		select uid,username,password,name,email,phone,addr,state,code
		from user where code=#{code}
	</select>
	
	<!-- 修改用户状态的方法 -->
	<update id="update" parameterType="user.daomain.User">
		update user set username=#{username},password=#{password},name=#{name},
			email=#{email},phone=#{phone},addr=#{addr},state=#{state},code=#{code}
		where uid=#{uid}
	</update>
	
	<!-- 用户登录 -->
	<select id="login" parameterType="user.daomain.User" resultMap="userMap">
		select uid,username,password,name,email,phone,addr,state,code
		from user
		where username=#{username} and password=#{password}
	</select>
		
</mapper>