<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>

	<mappers>
		<!-- 用户的配置-->
		<mapper resource="user/daomain/userMapper.xml"/>
		
		<!-- 管理员配置 -->
		<mapper resource="admin/daomain/adminMapper.xml"/>
	
		<!-- 订单配置 -->
		<mapper resource="orders/daomain/orderMapper.xml"/>
		<mapper resource="orders/daomain/orderItemMapper.xml"/>
		
		<!-- 一级分类的实体目录 -->
		<mapper resource="category/daomain/categoryMapper.xml"/>
		<!-- 二级分类的实体目录 -->
		<mapper resource="categorysecond/daomain/categorySecondMapper.xml"/>
	 
	 	<!-- 商品实体 -->
	 	<mapper resource="product/daomain/productMapper.xml"/>
	</mappers>
	

</configuration>